body {
  margin: 0;
  padding: 0;
  background-color: #95e0c8;
}
.photo-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: left;
  padding: 10px;
}

.photo-row img {
  width: 500px;
  height: auto;
  border-radius: 6px;
}

.bubble {
  position: absolute;
  bottom: -80px;
  width: 60px;
  left: 50%;
  animation: float 8s infinite;
}

@keyframes float {
  from { transform: translateY(0);opacity: 0.5;
  }to 
{transform: translateY(-110vh);opacity: 0;
  }
}
h1 {
  color: rgb(2, 92, 92);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 42px;
}

.text-box {
  position: absolute;
  top: 200px;
  right: 20px;
  width: 260px;
  background-color: rgb(241, 241, 175);
  padding: 10px;
  border-radius: 8px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

video {
  width: 30%;
  height: 800px;
  display: block;
  margin: 8px auto;
  border-radius: 5px;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(7, 73, 73);
  padding-left: 600px;
  padding-bottom: 100px;
}